# Node.js
node_modules/
**/node_modules/
client/node_modules.zip

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDE
.vscode/
.idea/
